<h1>Fobal</h1>

<p>
Hola {{ player.name }},

Anótate para el partido del {{ match.date }} en {{ match.place }}
haciendo click en el link de abajo:

<strong>
  Juego!
  {% url 'core:join_match' match.id player.id as join_match_url %}
  <a href="{{ join_match_url }}">{{ join_match_url }}</a>
</strong>


Si en algún momento tienes que bajarte puedes hacerlo siguiendo el link de abajo,
tus compañeros serán notificados automáticamente.

<strong>
  Me tengo que bajar :(
  {% url 'core:leave_match' match.id player.id as leave_match_url %}
  <a href="{{ leave_match_url }}">{{ leave_match_url }}</a>
</strong>


Si no puedes seguir los links, prueba copiar y pegar la URL en tu navegador.

Saludos,
Fobal
</p>
