{% include 'core/partial_site_header.html' %}

<h3>{{ match.date | date:"MATCH_DATE_FORMAT" }} en {{ match.place }}</h3>

<h4>El plantel</h4>
{% if match.players.count > 0 %}
  <table class="table table-striped">
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Fecha</th>
    </tr>
    {% for mp in match.matchplayer_set.all %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ mp.player.name }}</td>
      <td>{{ mp.join_date | date:"JOIN_DATE_FORMAT" }}</td>
    </tr>
    {% endfor %}
  </table>
{% else %}
  <p>Todavía no se ha anotado nadie...</p>
{% endif %}

{% if join_match_url != None %}
<p>
  <a href="{{ join_match_url }}">
    <span class="label label-success">Juego</span>
  </a>
</p>
{% elif leave_match_url != None %}
<p>
  <a href="{{ leave_match_url }}">
    <span class="label label-danger">No juego</span>
  </a>
</p>
{% endif %}

<h4>Invitados</h4>
{% if match.guests.count > 0 %}
  <table class="table table-striped">
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Amigo de</th>
      <th>Fecha</th>
      <th></th>
    </tr>
    {% for guest in match.guests.all %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ guest.name }}</td>
      <td>{{ guest.inviting_player.name }}</td>
      <td>{{ guest.inviting_date | date:"JOIN_DATE_FORMAT" }}</td>
      <td>
        {% if guest.inviting_player == player %}
        {% url 'core:remove_guest' guest_id=guest.id as remove_guest_url %}
        <a href="{{ remove_guest_url }}"><strong>No juega</strong></a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
{% else %}
  <p>Todavía no hay invitados...</p>
{% endif %}

{% if player != None %}
  <form action="addguest/" method="post">
    {% csrf_token %}
    <p>
      <label for="guest_name_id">Invita a un amigo {{ player.name }}</label>
      <input id="guest_name_id" type="text" name="guest" maxlength="50" placeholder="Nombre"/>
      <input type="hidden" name="inviting_player" maxlength="50" value="{{ player.id }}" />
      <input type="submit" value="Invitar" />
    </p>
  </form>
{% endif %}

{% include 'core/partial_site_footer.html' %}
